
<% if @presentations.any? %>
  <% @presentations.each do |p| %>
    <div>
      <%= p.pdf_filename %>
      <%= p.pptx_filename %>
      |
      <%= p.msu_lecture.title %>
      <%= link_to "display using the full viewer",
                  pdfjs.full_path(file: "../msu_presentations/#{p.pdf_filename}") %>
    </div>
  <% end %>
<% end %>
