<div class="main-wrap" style="padding: 0 1rem;">
  <% if @disciplines %>
    <small class="no-disciplines">
      Дисциплины
    </small>
    <% @disciplines.each do |d| %>
      <%= render partial: 'discipline', object: d %>
    <% end %>
  <% else %>
    <div class="no-disciplines">
      Скоро здесь будут дисциплины
    </div>
  <% end %>
</div>
