<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">

      <div class="row">
        <div class="col">
          <h1 class="huge-lecture-title my-5">
            <%= @lecture.title %>
          </h1>
        </div>
      </div>

      <div class="row ">
        <div class="col">
          <div id="lecture-discipline", class="border-bottom mb-4 text-secondary text-right">
            <%= @lecture.msu_discipline.title %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-10">
          <div id="lecture_content">
            <%= @lecture.content %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('#lecture_content').html(marked("<%= j @lecture.content %>"));
  });
</script>
