/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 * require_self
 * require jquery-ui
 */

@import "simplemde.min";
@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Montserrat:700,900|Roboto&subset=cyrillic-ext');

$bg-color: #f9f9f9;
$bg2-color: #f1f1f1;
$menu-height: 60px;
$menu-left-height: 100vh;
$primary: rgb(0, 124, 190);

h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: $bg-color;
}

p{
  word-wrap: break-word;
}

a {
  color: #667987;
}
a:hover {
  text-decoration: none;
  color: #000f14;
}


// left menu start

.menu-left {
  height:100vh;
  max-width:100px;
  position: sticky;
  top: 0;
  background: white;
  overflow-y: auto;
}

.menu-logo {
  width: inherit;
  height: 120px;
  position:relative;
  display: block;
  color: $primary;
}
.menu-logo {
  fill: $primary;
}

.menu-item-disabled {
  width: inherit;
  height: 70px;
  position:relative;
  display: block;
  color: #bad6ea;
  font-size: 0.8em;
}
.menu-item-disabled .button-icon{
  fill: #bad6ea;
}

.menu-item {
  width: inherit;
  height: 70px;
  position:relative;
  display: block;
  color: #bad6ea;
  font-size: 0.8em;
}

.menu-item .button-icon{
  fill: #bad6ea;
}

.menu-item-active{
  color: $primary;
}
.menu-item-active .button-icon {
  fill: $primary;
}

.menu-item:hover{
  color: #0b3a5c;
}
.menu-item:hover .button-icon{
  fill: #0b3a5c;
}

.menu-item-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

// left menu end


.content-col {
  min-height: $menu-left-height;
}


.menu{
  height: $menu-height;
  top: 0;
  background-color: $bg-color;
}
.menu-link{
  border: none;
  color: $secondary;
  padding: 15px;
  border-bottom: 4px solid $bg-color;
}

#disciplineModal{
  z-index: 3;
}
.modal-dialog{
  box-shadow: 0 30px 50px rgba(0,0,0,0.3);
}
.bring-to-front{
  z-index: 9000;
}

.menu-link-disabled:hover{
  border-bottom: 4px solid $bg2-color;
}
.menu-link-active{
  border-bottom: 4px solid $primary;
  color: $dark;
}

.discipline-menu{
  min-height: 100vh;
  overflow-y: auto;
}

.discipline{
  background-color: $bg-color;
  border-left: 4px solid $bg-color;
  display: flex;
}

.discipline a{
  flex: 1;
}

.discipline-active{
  background-color: white;
  border-left: 4px solid $primary;
  box-shadow: 0px 0px 20px #0000001a;
  z-index: 999;
  position: relative;
}

.discipline:hover{
  background-color: white;
  border-left: 4px solid $primary;
}

.card-botton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  fill: $dark;
}
.card-botton:hover{
  color: $light;
  fill: $light;
}
.card-botton-primary:hover{
  background-color: $primary;
}
.card-botton-danger:hover{
  background-color: $danger;
}

.card-btn-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  fill: $dark;
  color: $dark;
}
.card-btn-row:hover{
  color: $light;
  fill: $light;
}
.card-btn-row-primary:hover{
  background-color: $primary;
}
.card-btn-row-danger:hover{
  background-color: $danger;
}


.discipline-menu-header{
  background-color: $bg2-color;
}

.footer{
  height: 100px;
  background-color: $bg2-color;
}

.lecture{
  overflow: hidden;
  -webkit-transition: box-shadow 0.2s, border-left 0.2s; /* For Safari 3.1 to 6.0 */
  transition: box-shadow 0.4s, border-left 0.2s;
  border-radius: 10px;
  border: 1px solid #dee2e6;
}

.lecture:hover{
  background-color: white;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0,0,0,0.1);
  // border-left: 4px solid $primary;
}

.huge-lecture-title{
  font-size: 60px;
  word-wrap: break-word;
}

.lecture-name-input{
  border: none;
  background-color: inherit;
  box-sizing: border-box;
  resize: none;
  width: 100%;
}


.lecture-name-input:focus{
text-decoration: underline;
}

.image-delete-button {
  position:relative;
  top:0;
  height:0;
  opacity: 0;
  -webkit-transition: top 0.4s, opacity 0.2s; /* For Safari 3.1 to 6.0 */
  transition: top 0.4s, opacity 0.2s;
}
.image-card:hover .image-delete-button{
  opacity: 1;
  top: 20px;
}
.image-card:hover .cover{
  background-color: white;
}
.copy-button:hover .button-icon{
  fill: $light;
}

img{
  max-width: 100%;
}



/* The switch - the box around the slider */
.switch {
 position: relative;
 display: inline-block;
 width: 50px;
 height: 24px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #e3e3e3;
 -webkit-transition: .4s;
 transition: .4s;
}

.slider:before {
 position: absolute;
 content: "";
 height: 18px;
 width: 18px;
 left: 4px;
 bottom: 3px;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}

input:checked + .slider {
 background-color: $primary;
}

input:focus + .slider {
 box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
 -webkit-transform: translateX(26px);
 -ms-transform: translateX(26px);
 transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
 border-radius: 34px;
}

.slider.round:before {
 border-radius: 50%;
}

pre{
  margin-top: 1rem;
  border-left: 3px solid $primary;
  margin-left: 1rem;
  padding-left: 1rem;
}


.edit-menu{
  top:0px;
  background-color: $bg-color;
  z-index: 2;
}

.nav-tabs .nav-item{
  color: $secondary;
  border: none;
  border-bottom: 5px solid transparent;
}
.nav-tabs .nav-item.active{
  background: none;
  border-bottom: 5px solid $primary;
  color: $primary;
}


.client-menu {
  height: 64px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.discipline-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  display: flex;
  width: 400px;
  justify-content: center;
  border-left: 1px solid #ededed;
  border-right: 1px solid #ededed;
}
.discipline-center:hover{
  background-color: $primary;
  color: white;
}

.discipline-title-client {
  margin: 20px 0;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.05em;
  font-weight: 900;
  font-family: Montserrat, sans-serif;
}

@media only screen and (max-width: 600px) {
  .discipline-center {
    width: 100%;
  }
  .discipline-title-client {
    font-size: 1.6em;
  }
}

@media only screen and (max-width: 768px) {
  .discipline-center {
    left: 0;
    transform: none;
    border-left: none;
    width: 80%;
  }
  .logos {
    opacity: 0;
  }
  .discipline-title-client {
    font-size: 1.8em;
  }

}

@media only screen and (min-width: 768px) {
  .uni-logo{
    display: none;
  }
  .discipline-title-client {
    font-size: 2.2em;
  }
}

@media only screen and (min-width: 992px) {
  .uni-logo{
    display: block;
  }
  .discipline-title-client {
    font-size: 2.7em;
  }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
