/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 * require_self
 */

@import "simplemde.min";
@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif:700');

$bg-color: #f9f9f9;
$bg2-color: #f1f1f1;
$menu-height: 60px;


h1, h2, h3, h4, h5, h6{
  font-family: 'PT Serif', serif;
}

body{
  font-family: 'PT Sans', sans-serif;
  background-color: $bg-color;
}

p{
  word-wrap: break-word;
  margin-bottom: 0;
}

a {
  color: #667987;
}
a:hover {
  text-decoration: none;
  color: #000f14;
}

.menu{
  height: $menu-height;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: $bg-color;
}
.menu-link{
  border: none;
  color: $secondary;
  padding: 15px;
  border-bottom: 4px solid $bg-color;
}

#disciplineModal{
  z-index: 999999;
}

.bring-to-front{
  z-index: 999999;
}

.menu-link-disabled:hover{
  border-bottom: 4px solid $bg2-color;
}
.menu-link-active{
  border-bottom: 4px solid $primary;
  color: $dark;
}

.discipline-menu{
  height: calc(100vh - $menu-height);
  overflow-y: auto;
}

.discipline{
  background-color: $bg-color;
  border-left: 4px solid $bg-color;
  display: flex;
}

.discipline a{
  flex: 1;
}

.discipline-active{
  background-color: white;
  border-left: 4px solid $primary;
  box-shadow: 0px 0px 20px #0000001a;
  z-index: 999;
  position: relative;
}

.discipline:hover{
  background-color: white;
  border-left: 4px solid $primary;
}

.discipline-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  fill: $dark;
}

.discipline-button:hover{
  background-color: $primary;
  fill: $light;
}
.discipline-menu-header{
  background-color: $bg2-color;
}

.footer{
  height: 100px;
  background-color: $bg2-color;
}

.lecture{
  background-color: white;
  box-shadow: 0px 0px 40px #0000;
  border-left: 4px solid $bg2-color;
  -webkit-transition: box-shadow 0.2s, border-left 0.2s; /* For Safari 3.1 to 6.0 */
  transition: box-shadow 0.4s, border-left 0.2s;
}

.lecture:hover{
  background-color: white;
  box-shadow: 0px 15px 40px #0066ff1a;
  border-left: 4px solid $primary;
}

.huge-lecture-title{
  font-size: 60px;
  word-wrap: break-word;
}

.lecture-name-input{
  border: none;
  background-color: inherit;
  box-sizing: border-box;
  resize: none;
  width: 100%;
}


.lecture-name-input:focus{
text-decoration: underline;
}
