/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 * require_self
 */

@import "simplemde.min";
@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif:700');

$bg-color: #f9f9f9;
$bg2-color: #f1f1f1;


h1, h2, h3, h4, h5, h6{
  font-family: 'PT Serif', serif;
}

body{
  font-family: 'PT Sans', sans-serif;
  background-color: $bg-color;
}

a {
  color: #000f14;
}
a:hover {
  text-decoration: none;
  color: #667987;
}

.menu{
  height: 60px;
}

.menu-link{
  border: none;
  color: $secondary;
  padding: 25% 20px;
  border-bottom: 4px solid $bg-color;

}

.menu-link-disabled:hover{
  border-bottom: 4px solid $secondary;
}
.menu-link-active{
  border-bottom: 4px solid $primary;
  color: $dark;
}

.discipline-menu{
  height: 85vh;
  overflow-y: auto;
}

.discipline{
  background-color: $bg-color;
  border-left: 4px solid $bg-color;
}

.discipline:hover{
  border-left: 4px solid $primary;
}

.discipline-button{
  // height: inherit;
  // display:flex;
  // align-items:center;
  // justify-content:center;
}

.discipline-button:hover{
  background-color: $primary;
  fill: $light;
}
.discipline-menu-header{
  background-color: $bg2-color;
}

.footer{
  height: 100px;
  background-color: $bg2-color;
}
