<% content_for :title do %>
  <title>Дисциплины | MSUniversity</title>
<% end %>

<div class="row">

  <div class="col-md-2 border-right discipline-menu">
    <%= render partial: '/admin/msu_disciplines/disciplines_menu' %>
  </div>

  <div class="col-md-5" id="discipline-content">
  </div>
  <div class="col-md-5">
  </div>
</div>

<div id="new_discipline_form"></div>
