<% content_for :title do %>
  <title>Дисциплины | MSUniversity</title>
<% end %>

<div class="row">

  <div class="col-md-2 border-right discipline-menu">
    <div class="row discipline-menu-header">
      <!-- Disciplines header -->
      <div class="col-10 py-3 align-self-center">
        <div class="text-secondary">Список дисциплин</div>
      </div>
      <%= link_to [:new, :admin, :msu_discipline],
          id: 'new_discipline',
          remote: true,
          class: "col-2 discipline-button d-flex align-items-center justify-content-center" do %>
        <%= octicon "plus",
            height: 28,
            "aria-label": "Добавить дисциплину" %>
      <% end %>
    </div>

      <!-- Disciplines list -->

      <div id="disciplines">
        <% if @disciplines.any? %>
          <% @disciplines.each do |d| %>
            <%= render partial: '/admin/msu_disciplines/discipline', object: d %>
          <% end %>
        <% else %>
          <%= render partial: '/empty' %>
        <% end %>
      </div>
  </div>

  <div class="col-md-10" id="discipline-content">
  </div>
</div>



<div id="new_discipline_form"></div>
